#display{
	margin: 20px 0;
}

.topics {
	background-color: #cce6ff;
	margin-bottom: 5px;
	margin-right: 5px;
}

.gif {
	background-color: pink;
	display: inline-block;
}

.rating {
	background-color: yellow;
}

img {
	padding: 15px;
}