h3 {
	color: #fff;
	font-size: .98rem;
	padding-top: 20px;
}

p {
	margin-bottom: 0;
	padding-left: 10px;	
}

.container {
	padding: 0;
}

.jumbotron {
	margin: 0 0 10px 0;
	padding: 1rem 2rem;
}

#images {
	column-count: 2;
	padding: 0;
}

.gif {
	background-color: pink;
	display: inline-block;
	margin-bottom: 10px;
}

.gif:nth-child(even) {
	margin-right: 0;
}

.rating {
	background-color: lightyellow;
}

img {
	display: block;
	height: auto;
	width: 19em;
}

#form {
	background-color: #ccc;
}

#chooseTopic {
	width: 12.2rem;
}

#displayBtns {
	margin-top: 20px;
	text-align: left;
}

.topics {
	background-color: #cce6ff;
	margin-bottom: 5px;
	margin-right: 5px;
}